.todo{
    margin-bottom: 1rem;
}

.todo span.completed {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}
.todo span{
    width: 100%;
}
.todo button{
    position: relative;
    right: 10px;
}

.todo i {
    z-index: 2;
}
